footer {
  .container {
    width: 100%;
    max-width: initial;
    > .row {
      margin: 0 5%;
      > .col {
        padding: 0 .7rem;
      }
    }
  }
  background: $footer-bg-color;
  padding: 2rem 0;
  .row {
    margin: 0;
  }
  [class^="icon-"], [class*=" icon-"] {
    color: $third-color;
  }
  ul {
    margin-bottom: 0;
  }
  .social-media {
    margin-top: 1.2rem;
    li {
      display: inline;
      a {
        font-size: 1.8rem;
      }
    }
  }

  h6 {
    font-weight: 600;
    color: $third-color;
    font-size: 1rem;
    line-height: 110%;
    margin: .5rem 0 .4rem 0;
  }
  a, i, span, p, strong {
    color: #fafafa;
    font-size: .8rem;
  }
  a:hover {
    color: $icon-bgcolor;
    //   text-decoration: underline;
  }
  .c1 img {
    width: 156px;
  }
  .c2 {
    padding-left: .9rem;
    border-left: 0.4px solid $icon-bgcolor;
  }
  .c4 {
    .phones {
      margin-left: 0px;
      border-top: 0.4px solid $icon-bgcolor;
      border-bottom: 0.4px solid $icon-bgcolor;
      padding: 10px 0;
      .icon {
        padding-left: 0;
        margin-top: 7px;
        &-telefono {
          font-size: 1.2rem;
        }
      }
      div:nth-child(2), div:nth-child(3){
        padding-right: 0;
      } 
    }
    .atention {
      address {
        padding: 10px 0 10px 0;
        .icon-email {
          i {
            font-size: 1rem;
            font-weight: lighter;
          }
        }
        p:nth-child(2){
          padding-right: 0;
        }
      }
    }    
  }
}
@media only screen and (min-width: 500px) {
  footer {
    .container {
      > .row {
        margin: 0 3%;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {
  footer {
    .container {
      > .row {
        margin: 0 7%;
      }
    }
  }
}