@import 'generics';
@import 'menumobile';
@import 'porquevida';
@import 'header';
@import 'footer';

#secProductos{
  position: absolute;
  margin-top: -60px;
}
#productos {
  .productos-tab {
    width: 90%;
    margin: auto;
    ul {
      margin-bottom: 30px;
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      @media only screen and (min-width: 600px){
      }
      li {
        white-space: pre-line;
        cursor: pointer;
        display: inline-block;
        width: 60%;
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        padding:0 17px 15px;
        position: relative;
        transition: all .5s ease-in-out;
        &.active, &:hover{
          color: #d0021b;
        }
        &::after{
          content: '';
          position: absolute;
          height: 1px;
          left: 0;
          right: 0;
          background: #979797;
          bottom: 0;
          transition: all .3s ease;
        }
        &.active::after, &:hover::after{
          background:#d0021b;
          height: 3px;
          border-radius: 3px;
        }
        @media only screen and (min-width: 600px){
          width: calc(99% / 3);
          padding: 0 10px 15px ;
        }
      }
    }
  }
  .item {
    padding: 5px;
    margin: 0 10px 1rem;;
    border-radius: 10px;
    background-color: $bg-cards;
    box-shadow: 0 13px 34px -20px rgba(0, 0, 0, 0.4);
    @media screen and (min-width: 1050px){
      margin: 0 20px 1rem;;
    }
    &__head {
      min-height: 132px;
      padding: 30px 20px 10px;
      text-align: center;
      border-bottom: solid 1px #d3d3d3;
      &--title {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      &--text {
        font-size: 13px;
        color: #848484;
        line-height: 1.31;
        margin-bottom: 10px;
      }
    }
    &__body {
      min-height: 121px;
      padding: 10px 20px 5px;
      .title {
        font-size: 15px;
        margin: 3px 0;
      }
      .cobertura, .servicios {
        ul li {
          padding: 2px 0;
          text-indent: -24px;
          margin-left: 27px;
          font-size: 13px;
          line-height: 17px;
          margin-bottom: 10px;
          i {
            font-size: 9px;
          }
        }
        .icon-check {
          color: $secondary-color;
        }
      }
    }
    &__footer {
      padding: 0 1.1rem 1rem 1.1rem;
      .btn-large {
        padding: 14px;
        display: block;
        box-sizing: content-box;
      }
      .calltoaction{
        margin-bottom: 20px;
      }
      .link-detalle{
        color: $secondary-color;
        cursor: pointer;
        font-size: 13px;
        &:hover{
          color:#6e9d02;
        }
      }
    }
  }
  .item-hide{
    display:none;
    margin-top:50px;
    opacity:0;
  }
}

#exclusiones {
  .exclusion {
    &__item {
      background: $bg-cards;
      min-height: 70px;
      padding: 28px 35px;
      // max-width: 233px;
      p {
        font-weight: 300;
      }
    }
  }
}
#temasRelacionados {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.96);
  border-top: solid 1px #d4d4db;
  .title {
    &__principal {
      cursor: pointer;
      margin: 0;
    }
    &__arrow-down {
      position: relative;
      top: 6px;
      left: 5px;
      transition: all .3s;
    }
  }  
  .link-container {
    margin-top: 14px;
  }
  .links {
    li {
      padding: 5px 0;
      text-indent: -23px;
      margin-left: 27px;
      a img {
        position: relative;
        top: 4px;
        margin-right: 2px;
        width: 18px;
      }
    }
    a:hover {
      text-decoration: underline;
      color: $secondary-color;
      font-weight: 600;
    }
  }
  
}

#asesorar {
  background-image: -webkit-linear-gradient(right, #d0f2ff, #e6f8ff);
  background-image: -moz-linear-gradient(right, #d0f2ff, #e6f8ff);
  background-image: -o-linear-gradient(right, #d0f2ff, #e6f8ff);
  background-image: linear-gradient(to right, #d0f2ff, #e6f8ff);
  .title {
    h2:nth-child(1){
      font-weight: 500;
      margin: 3px 0;
    }
  }
}

@media only screen and (min-width: 600px) {
  #exclusiones {
    .exclusion {
      &__item {        
        min-height: 122px;
        padding: 21px 12px;
      }      
    }
  }
  #temasRelacionados {
    .link-container {
      margin-top: 48px;
    }
  }
}