@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@font-face{
    font-family:'icomoon';
    src:url('font/icomoon.eot?m7s3cy');
    src:url('font/icomoon.eot?m7s3cy#iefix') format('embedded-opentype'), url('font/icomoon.ttf?m7s3cy') format('truetype'), url('font/icomoon.woff?m7s3cy') format('woff'), url('font/icomoon.svg?m7s3cy#icomoon') format('svg');
    font-weight:normal;
    font-style:normal;
}



@font-face{
    font-family:'cyber';
    src:url('../fonts/icomoon2.eot?m7s3cy');
    src:url('../fonts/icomoon2.eot?m7s3cy#iefix') format('embedded-opentype'), url('../fonts/icomoon2.ttf?m7s3cy') format('truetype'), url('../fonts/icomoon2.woff?m7s3cy') format('woff'), url('../fonts/icomoon2.svg?m7s3cy#icomoon') format('svg');
    font-weight:normal;
    font-style:normal;
}


 [class^="iconito-"], [class*=" iconito-"]{
    font-family:'icomoon' !important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


[class^="icono-"], [class*=" icono-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cyber' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    font-size: 2.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icono-button-viajes:before {
    content: "\e901";
  }
  .icono-button-vehicular:before {
    content: "\e902";
  }
  .icono-button-soat:before {
    content: "\e903";
  }
  .icono-button-domi:before {
    content: "\e904";
  }
  .icono-button-accidentes:before {
    content: "\e900";
  }
  



 .iconito-vehicular:before{
    content:"\e900";
}
 .iconito-viajes:before{
    content:"\e901";
}
 .iconito-jovenes:before{
    content:"\e902";
}
 .iconito-soat:before{
    content:"\e903";
}
 .contenedor-submenucito2{
    width:100%;
    height:40px;
    position:relative;
    border:1px solid rgba(255, 255, 255, 0.8);
}
 .menu-icon-home{
    width:25%;
    float:left;
    padding:10px;
    color:rgba(255, 255, 255, 0.8);
    text-align:center;
    box-sizing:border-box;
    font-size:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-left:1px solid rgba(255, 255, 255, 0.8);
    border-right:1px solid rgba(255, 255, 255, 0.8);
    transition:ease-in-out .3s all;
}
 .menu-fixeado{
    background-color:white;
    top:45px;
    z-index:999999;
    position:fixed;
    box-shadow:0px 0px 29px #cacaca;
}
 .menu-fixeado>.menu-icon-home{
    border-color:#f3f3f3;
}
 .menu-fixeado span{
    color:black;
}
 .slider-cyberday{
    width:100%;
    height: 83vh;
    font-size:"Lato";
}
 .activo-peque{
    background-color:white;
}
 .activo-peque span{
    color:#84bd00;
}
 .menu-fixeado2 span{
    color:black;
}
.textos-slide-home{
    padding-top: 85px;
    width:87%;
    text-align:center;
    margin:0 auto;
}
@media only screen and (min-width:375px){

    .slider-cyberday{
        height: 83vh;
    }
    .textos-slide-home{
        padding-top: 105px;
    }
}
 @media only screen and (min-width:900px){
    .slider-cyberday{
        height: 90vh;
    }
    .slideso{
    	display: flex!important;
    	align-items: center;
    	justify-content: center;
    }
     .textos-slide-home{
    padding-top:0px;

}
}
 .slideso{
    width:100%;
    height:90vh !important;
    background-size:cover !important;
    background-color: #fff;}

 .textos-slide-home h1{
    font-size:28px;
    font-weight:900;
    max-width:500px;
    line-height:auto;
    color:white;
    margin-top:0px;
}
 .textos-slide-home p{
    margin:0px;
    color:white;
    font-weight:100;
    font-size:1.2rem;
    text-align:left;
    display:none;
}
 .textos-slide-home a{
    background-color:#84bd00;
    color:white;
    padding:14px 20px;
    text-align:center;
    display:block;
    font-weight:900;
    border-radius:5px;
    font-size:18px;
    max-width:160px;
    margin-top:20px;
    text-decoration:none;
    margin:0 auto;
}
 .textos-slide-home span{
    color:white;
}
 .cybericon{
    position:absolute;
    top:65px;
    color:white;
    z-index:19;
    left:0;
    right:0;
    max-width:132px;
    margin:0 auto;
}
 .cybericon img{
    float:left;
    margin-top:0px;
    margin-right:25px;
    margin-bottom:2px;
    width:140px;
}
 .cybericon h3>span{
    font-family:'Lato';
    color:white;
    font-weight:300;
}
 .cybericon div{
    float:left;
    text-align:center;
}
 .cybericon div>p{
    margin-top:0px;
    margin-bottom:0px;
    background-color:#84bd00;
    padding:4px;
    width:100%;
    border-radius:5px;
    text-align:center;
}
 .cybericon div>.timer{
    color:white;
    font-size:2rem;
    font-family:'Lato';
    font-weight:700;
    color:white;
    width:100%;
}
 .slideso{
    width:100%;
    height: 100%;
    background-size:cover !important;
    background: #fff;
    }
 .domiciliario{
    background-size:cover !important;
    background:url(../img/productos/Home/mobile/vitrinas-home-domi-mobile.jpg);
}
 .text-black h1{
    color:#494949;
    margin-bottom: 10px;
}
 .text-black p{
    color:#494949;
}
 .text-black span{
    color:#494949;
}
 .accidentes{
    background-size:cover !important;
    background:url(../img/productos/Home/mobile/vitrinas-home-accidentes-mobile.jpg);
}
 .privada{
    background-size:cover !important;
    background:url(../img/sliderHome/140618/150618-zona-privada-mobile.jpg);
    background-position:center center;
}
 .viajes{
    background-size:cover !important;
    background:url(../img/productos/Home/mobile/vitrinas-home-viajes-mobile.jpg);
    background-position:center center;
}
 .vehicular{
    background-size:cover !important;
    background:url(../img/productos/Home/mobile/vitrinas-home-vehicular-mobile.jpg);
    background-position:center center;
}
 .textos-slide-home{
    position:relative;
    z-index:20;
}
 .soat{
    background-size:cover !important;
    background:url(../img/productos/Home/mobile/vitrinas-home-soat-mobile.jpg);
}
 #home{
    top:290px;
}
 @media only screen and (min-width:350px){
    #home{
        top:330px;
    }
}
 .botonTerminos{
    text-align:center;
    background:transparent;
    border:none;
    cursor:pointer;
    color:white;
    margin:10px auto;
}
 .submenu-container{
    display:none;
}
 .colorear{
    color:white !important;
}
 .coloreate{
    color:black !important;
}
 @media only screen and (min-width:900px){
    .botonTerminos{
        text-align:center;
        background:transparent;
        border:none;
        cursor:pointer;
        color:white;
        margin:11px;
        margin-left:96px;
    }
     .submenu-container{
        width:100%;
        display:inline-flex;
        height:88px;
   /*     background:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 100%);
        background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 100%);
        background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 85%, rgba(0, 0, 0, 0.65) 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);*/
        background: white;
    }
     .opcionmenu{
        float:left;
        width:25%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        height:100%;
        padding: 10px 21px;
        /* padding-left: 24px; */
        color:white;
        border-right:1px solid;
        transition:ease-in-out .3s;
        position: relative;
        display: flex;
        border-right: 1px solid lightgray;
        align-items: center;
        justify-content: center;
    }
     .opcionmenu:last-child{
       border-right: 0;
     }
     .opcionmenu:hover{
        background-color:white;
        height:120px;
        margin-top: -20px;
        padding-bottom: 21px;
       box-shadow: #b6b6b6 0px -3px 11px 0px;
    }
     .opcionmenu a{
         position: absolute;
         cursor: pointer;
         width: 100%;
         height: 100%;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         right: 0;
    }
     .opcion-hogar{
        border:none;
    }
     .opcionmenu:hover [class^="icono-"], [class*=" icono-"] {

      color:#84bd00;
    }
     .opcionmenu h5{
        padding:0px;
        margin:0px;
        margin-top:4px;
        color:black;
        font-size:0.78rem;
        font-weight:100;
        border-bottom:0px solid #e4e4e4;
        padding-bottom:5px;
        text-align:left;
    }
     .opcionmenu .texto-bottom{
        color: #000;
        padding:0px;
        /* padding-left: 10px; */
        margin:0px;
        margin-top:-2px;
        font-weight:100;
        text-align:left;
    }
   .opcionmenu p:nth-child(1){

   }
   .opcionmenu .texto-top{
     /* padding-top: 10px; */
     font-size: 1.4rem;
     font-weight: 900;
     line-height: 1;
     padding-bottom: 5px;
     margin-bottom: 0px;
     margin-top: 0px;
     color: black;
    }
   .opcionmenu .texto-top span{
     font-size: 1rem;
   }
     .menuactivo{
        background-color:#84bd00e3;
        height:120px;
        margin-top:-20px;
        padding-top: 20px;
        color:white;
    }
     #home{
        left:200px;
        top:374px;
    }
     #home>.timer{
        color:black;
    }
     .top-buttons{
        color:white;
    }
     #btn-iconos-empresas, #btn-iconos-corredores, #btn-iconos-menu{
        color:#555 !important;
    }
     .cybericon{
        color:white;
        z-index:19;
        left:119px;
        top:124px;
        right:auto;
        max-width:338px;
    }
     .slideso{
        background-size:cover !important;
        background:url(../img/cyberdays/cyberrimac-home.jpg);
    }
    .accidentes{
        background-size:cover !important;
        background:url(../img/productos/Home/vitrinas-home-accidentes-desktop.jpg);
        background-position:center !important;
    }
     .privada{
        background-size:cover !important;
        background:url(../img/sliderHome/140618/150618-zona-privada-desktop.jpg);
        background-position:center !important;
    }
     .soat{
        background-size:cover !important;
        background:url(../img/productos/Home/vitrinas-home-soat-desktop.jpg);
        background-position:center !important;
    }
     .domiciliario{
        background-size:cover !important;
        background:url(../img/productos/Home/vitrinas-home-domi-desktop.jpg);
        background-position:center !important;
    }
     .vehicular{
        background-size:cover !important;
        background:url(../img/productos/Home/vitrinas-home-vehicular-desktop.jpg);
        background-position:center !important;
    }
     .cybericon img{
        width:167px;
    }
     .viajes{
        background-size:cover !important;
        background:url(../img/productos/Home/vitrinas-home-viajes-desktop.jpg);
        background-position:center !important;
    }
     .textos-slide-home p{
        display:block;
    }
     .textos-slide-home h1{
        font-size:52px;
        line-height:62px;
        max-width:510px;
        margin-bottom:10px;
        text-align:left;
    }
     .textos-slide-home a{
        padding:14px 20px;
        font-size:18px;
        max-width:320px;
        margin:0px;
        margin-top:14px;
    }
     .textos-slide-home{
        padding-top: 0px;
        padding-left:80px;
        text-align:left;
    }
}

@media only screen and (max-width: 860px){
  .opcionmenu .texto-bottom{
    padding-left: 0;
  }
}

@media only screen and (max-width: 786px){
  .opcionmenu .texto-top{
    padding-top: 0;
    font-size: 1.3rem;
  }
}

.slick-prev, .slick-next{
  box-sizing: content-box;
  border-radius: 0 !important;
  background-color: #ffffffc4 !important;
  border: 6px solid #ffffff00 !important;
  border-right: 14px solid #ffffff00 !important;
  border-left: 14px solid #ffffff00 !important;
  width: 14px !important;
  height: 70px !important;
  transition: ease .2s;
}

.slick-prev{
  border-right: 12px solid #ffffff00 !important;
  border-left: 10px solid #ffffff00 !important;
}

.slick-next{
  border-right: 10px solid #ffffff00 !important;
  border-left: 12px solid #ffffff00 !important;
}

.slick-prev:hover, .slick-next:hover{
  background-color: #fff !important;
  border-color: #fff !important;
}

.slider-cyberday .slick-dots{
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
    background: white;
    padding: 10px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    left: 0;
    right: 0;
    border-radius: 20px 20px 0px 0px;
}
.slider-cyberday .slick-dots li{
    background-color: #e4e4e4;
}


.contador-cyberwoo{width:100%;min-height: 47px;position:relative;top:45px;z-index:99999;background:-moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 25%, rgba(0,0,0,0.3) 61%, rgba(0,0,0,0.1) 96%, rgba(0,0,0,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#00000000',GradientType=0);background:rgb(153,5,3);background: -moz-linear-gradient(top, rgba(153,5,3,1) 2%, rgba(255,66,66,1) 100%);background: -webkit-linear-gradient(top, rgba(153,5,3,1) 2%,rgb(255, 66, 66) 100%);background: linear-gradient(to bottom, rgba(153,5,3,1) 2%,rgba(255, 66, 66, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990503', endColorstr='#d32b26',GradientType=0);}
.contador-cyberwoo p{color:white;display:inline-block;width:76px;height:auto;font-size:13px;}
@media only screen and (min-width:900px){.contador-cyberwoo p{width:94px;font-size:15px;}
}
.contador-cyberwoo .timer
{padding: 7px;
    font-size: 0.9rem;
    color: white;
    font-weight: 900;
    max-width: 189px;
    display: inline-block;
    padding: 5px 20px;
    /* background-color: #4c4c4c; */
    border-radius: 10px;
    margin-left: -2px;
   
}

@media only screen and (min-width:900px){

    .contador-cyberwoo .timer{
        font-size:1.1rem;
        max-width:207px;
        background-color: #4c4c4c;
        margin-left: 20px;
    }
}
.logo-cyberwow{width:34%;max-width:259px;height:50px;max-height:52px;float:left;background-image:url(../img/logo-cyberwow.png);background-repeat:no-repeat;background-position:20px 10px;background-position:center;background-size:79%;display:block;border-right:1px solid white;margin-right:12px;}
.contenedor-texto-cyber{margin:0 auto;display:flex;justify-content:center;align-items:center;}
@media only screen and (min-width:700px){.contenedor-texto-cyber{margin:0px;}
.contador-cyberwoo{width:100%;height: 69px;position:relative;top:75px;z-index:99999;}
.contador-cyberwoo p{display:block;font-size:18px;}
.contador-cyberwoo .timer{font-size:2rem;}
.logo-cyberwow{width:259px;background-image:url(../img/logo-cyberwow.png);background-size:80%;display:inline-block;}
}
.container-contador{max-width: 970px;margin:0 auto;height:100%;display:flex;justify-content:center;align-items:center;text-align: right;}
.cybericon img{width:167px;}

@media only screen and (min-width:700px) and (max-width:770px){

    .slider-cyberday .slick-dots{
        position: absolute;
        bottom: 0px;
        display: block;
        width: 100%;
        max-width: 180px;
        margin: 0 auto;
        background: white;
        padding: 10px;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        left: 0;
        right: 0;
        border-radius: 20px 20px 0px 0px;
    }
    .slider-cyberday .slick-dots li{
        background-color: #e4e4e4;
    }
    .textos-slide-home{
        padding-top: 21%;
    }
    .textos-slide-home h1{
        margin: 20px auto;
        font-size: 3rem;
        line-height: 3.6rem;
        
    }
    .slideso{
        background-position: 0px -172px!important;
    }

    .text-black span {
        color: #494949;
        font-size: 1.4rem;
    }
    .contador-cyberwoo p{
        width: 96px;
    }
}
.i-banner-button{
    width: 28%;
    /* float: left; */
    /* height: 100%; */
    /* padding-top: 11px; */
    padding-left: 15px;
    color: black;
}
.textobannerbuttom{
    width: 70%;
    /* float: right; */
    /* padding-left: 10px; */
    font-size: 12px;
}

.texto-llamado p{
    color: white;
    font-weight: 900;
    width: auto;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: none;
    animation-name: zoom;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0%   {-moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);}
    50%  {-moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);}
    100% {-moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);}
}
.texto-llamado p span {
    font-weight: 300;
    text-transform: initial;
    display: block;
}
.extendemosmobile{display: block;width: 100%;font-size: 16px;height: 26px;color:red;background-color: white;padding: 10px;text-align: center;font-weight: 900;}


@media only screen and (min-width:900px){
    .texto-llamado p{
        display: block;

    }

    .extendemosmobile{ display: none;}

}


