
@media screen and (max-width: 700px){

*{margin: 0; padding: 0; box-sizing: border-box;}

 

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.bgvi{ width: 100vw;

    height: 100vh;

    position: absolute;

    padding: 10px;

    z-index: 99999;

    top: 20%;

}

.popup-viajando {

       width: 95%;

    height: 40%;

    background-color: rgba(255, 78, 78, 0.92);

    position: absolute;

    align-items: center;

    z-index: 9999999;

    flex-direction: column;

    text-align: center;

    font-family: 'Lato';

    color: white;

    justify-content: center;

    display: flex;

    opacity: 0;

    z-index: 5;

    border-radius: 22px;

    -webkit-transition: ease-in-out .3s;

    -o-transition: ease-in-out .3s;

    transition: ease-in-out .3s;

}

.popup-viajando h1{

font-family: 'Arial';

font-weight: 700;

color: white!important;

}

.aparecer{display: flex; opacity: 1;}

 

 

.popup-viajando p{

    font-family: 'Arial';

    font-weight: 300;

    margin-top: 5px;

    font-size: 1.5rem;

}

.girarpantalla{

width: 100px;

height: 100px;

margin: 10px auto;

background-image: url(http://homealt.sitiosrimacseguros.com/homealt/img/pantalla.svg);

background-position: center;

background-size: cover;

}

 

div.cerrar-popup-viajes{

position: absolute;

width: 30px;

height: 30px;

top: 20px;

right: 20px;

background: url(http://homealt.sitiosrimacseguros.com/homealt/img/salir.svg);

 

}

 

}

 

    @media screen and (min-width:710px){

    .popup-viajando {display:none;}

  }

 
