.header-vehicular {
  background: url(../images/heromobile.png);
  height: 580px;
  background-size: cover;
  background-color: #eeeef2;
  padding-top: 18px;
  background-repeat: no-repeat;
  @media only screen and (min-width: 768px) {
    background: url(../images/bg-vehicular.png) transparent;
    background-color: #eeeef2;
  }
  .menu-fix {
    height: 52px;
    border-radius: 8px;
    margin: 0 auto;
    display: none;
    overflow: hidden;
    .container {
      background: white;
      height: 52px;
      border-radius: 8px;
    }
    a {
      display: inline-block;
      font-size: 12px;
      color: $primary-color-text;
      text-transform: uppercase;
      font-weight: 700;
      padding-left: 20px;
      padding-right: 20px;
      &:hover {
        border-bottom: 3px solid #84bd00;
        padding-bottom: 15px;
      }
    }
    .button-call {
      background-color: #ebebeb;
      background: url(../images/bg-button.png);
      background-size: cover;
      background-position: center;
      float: right;
      height: 100%;
      padding: 4px;
      width: 19%;
      padding-left: 29px;
      border-radius: 7px;
      border: 2px solid white;
      .call {
        height: 100%;
        font-size: 2.2rem;
        display: inline-block;
        float: left;
        color: #888888;
        width: 15%;
      }
      .asesoria {
        float: right;
        width: 75%;
        color: #888888;
        font-size: 14px;

        span {
          font-size: 19px;
          font-weight: 900;
        }

      }
    }
  }
  .container-header {
    .container-header-text {
      text-align: center;
      .title__subtext {
        font-size: 14px;
        padding-top: 25%;
      }
      h1 {
        font-size: 30px;
        color: $primary-color-text;
        margin-bottom: 10px;
        text-align: center;
      }
      a {
        border-radius: 5px;
        color: $third-color;
        background: $secondary-color;
        text-align: center;
        padding: 15px;
        width: 100%;
        display: block;
        max-width: 190px;
        margin: 0 auto;
        font-weight: bold;
        &:hover {
          background-color: #6b9900;
        }
      }
      .title__promocion {
        font-size: 1.2rem;
        color: #494949;
        margin-bottom: 20px;
      }
    }
    .container-header-image {
      margin-top: 40px;
      text-align: center;
    }
    img {
      width: 90%;
      height: auto;
    }
  }
}

@media only screen and (min-width: 1050px) {
  .activo {
    a {
      border-bottom: 3px solid $secondary-color;
      padding-bottom: 15px;
    }
  }

  .header-vehicular {
    padding-top: 88px;
    .menu-fix {
      display: block;
      ul {
        width: 80%;
        li {
          width: 25%;
          text-align: center;
          float: left;
          display: flex;
          a {
            float: left;
            font-size: 12px;
            color: #4c4c4c;
            text-transform: uppercase;
            font-weight: 700;
            padding-top: 19px;
            text-align: center;
            margin: 0 auto;
            display: block;
            width: auto;
            &:hover {
              border-bottom: 3px solid $secondary-color;
            }
          }
        }
      }
    }
    .container-header {
      .container-header-text {
        text-align: left;
        .title__subtext{
          padding-top: 90px;
        }
        h1 {
          font-size: 42px;
          line-height: 52px;
          text-align: left;
        }
        a {
          max-width: 300px;
          margin: 0;
        }
      }
      .container-header-image {
        margin-top: 40px;
      }
    }
  }
}