.modalvehicularfix{

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    display: none;

   .modalvehicular{
    width: 80%;
    max-width: 310px;
    height: 500px;
    border-radius: 5px;
    padding: 40px 20px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    color: #4c4c4c;
    margin-top: 20vh;
  @media only screen and (min-width:700px){

    max-width: 380px;
    height: 450px;
  }   
    h3{
        color:$secondary-color;
        margin-bottom: 10px;
    }
    p{  
        line-height: 23px;
        font-size: 15px;
    }

    .cerrar-modal{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 20px;
        border-radius: 50%;
        font-size: 20px;
        color: #4c4c4c;
        font-weight: 700;
        
    }
   }
}