$primary-color:#fd3a36;
$secondary-color:#84bd00;
$third-color:#ffffff;
$fourth-color:#3fbfae;
$primary-color-text:#4c4c4c;
$secondary-color-text:#f9f9f9;

$contacto-bg-color:#4f4f4f;
$footer-bg-color:#464646;
$icon-bgcolor: #d8d8d8;
$card-date:#f58232;
$bg-section:#e5e1e3;