@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg#icomoon2") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: gray;
  padding-right: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  margin: 0 auto;
  max-width: 1240px;
  width: 93%; }

@media only screen and (min-width: 626px) {
  .container {
    width: 80%; } }
@media only screen and (min-width: 1050px) {
  .container {
    width: 75%; } }
.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem; }

.row {
  margin-left: auto;
  margin-right: auto; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px; }

.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative; }

@media (min-width: 0) {
  .row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.pull-s1 {
    right: 8.3333333333%; }

  .row .col.push-s1 {
    left: 8.3333333333%; }

  .row .col.pull-s2 {
    right: 16.6666666667%; }

  .row .col.push-s2 {
    left: 16.6666666667%; }

  .row .col.pull-s3 {
    right: 25%; }

  .row .col.push-s3 {
    left: 25%; }

  .row .col.pull-s4 {
    right: 33.3333333333%; }

  .row .col.push-s4 {
    left: 33.3333333333%; }

  .row .col.pull-s5 {
    right: 41.6666666667%; }

  .row .col.push-s5 {
    left: 41.6666666667%; }

  .row .col.pull-s6 {
    right: 50%; }

  .row .col.push-s6 {
    left: 50%; }

  .row .col.pull-s7 {
    right: 58.3333333333%; }

  .row .col.push-s7 {
    left: 58.3333333333%; }

  .row .col.pull-s8 {
    right: 66.6666666667%; }

  .row .col.push-s8 {
    left: 66.6666666667%; }

  .row .col.pull-s9 {
    right: 75%; }

  .row .col.push-s9 {
    left: 75%; }

  .row .col.pull-s10 {
    right: 83.3333333333%; }

  .row .col.push-s10 {
    left: 83.3333333333%; }

  .row .col.pull-s11 {
    right: 91.6666666667%; }

  .row .col.push-s11 {
    left: 91.6666666667%; }

  .row .col.pull-s12 {
    right: 100%; }

  .row .col.push-s12 {
    left: 100%; } }
@media (min-width: 626px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.pull-m1 {
    right: 8.3333333333%; }

  .row .col.push-m1 {
    left: 8.3333333333%; }

  .row .col.pull-m2 {
    right: 16.6666666667%; }

  .row .col.push-m2 {
    left: 16.6666666667%; }

  .row .col.pull-m3 {
    right: 25%; }

  .row .col.push-m3 {
    left: 25%; }

  .row .col.pull-m4 {
    right: 33.3333333333%; }

  .row .col.push-m4 {
    left: 33.3333333333%; }

  .row .col.pull-m5 {
    right: 41.6666666667%; }

  .row .col.push-m5 {
    left: 41.6666666667%; }

  .row .col.pull-m6 {
    right: 50%; }

  .row .col.push-m6 {
    left: 50%; }

  .row .col.pull-m7 {
    right: 58.3333333333%; }

  .row .col.push-m7 {
    left: 58.3333333333%; }

  .row .col.pull-m8 {
    right: 66.6666666667%; }

  .row .col.push-m8 {
    left: 66.6666666667%; }

  .row .col.pull-m9 {
    right: 75%; }

  .row .col.push-m9 {
    left: 75%; }

  .row .col.pull-m10 {
    right: 83.3333333333%; }

  .row .col.push-m10 {
    left: 83.3333333333%; }

  .row .col.pull-m11 {
    right: 91.6666666667%; }

  .row .col.push-m11 {
    left: 91.6666666667%; }

  .row .col.pull-m12 {
    right: 100%; }

  .row .col.push-m12 {
    left: 100%; } }
@media (min-width: 1200px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; }

  .row .col.pull-l1 {
    right: 8.3333333333%; }

  .row .col.push-l1 {
    left: 8.3333333333%; }

  .row .col.pull-l2 {
    right: 16.6666666667%; }

  .row .col.push-l2 {
    left: 16.6666666667%; }

  .row .col.pull-l3 {
    right: 25%; }

  .row .col.push-l3 {
    left: 25%; }

  .row .col.pull-l4 {
    right: 33.3333333333%; }

  .row .col.push-l4 {
    left: 33.3333333333%; }

  .row .col.pull-l5 {
    right: 41.6666666667%; }

  .row .col.push-l5 {
    left: 41.6666666667%; }

  .row .col.pull-l6 {
    right: 50%; }

  .row .col.push-l6 {
    left: 50%; }

  .row .col.pull-l7 {
    right: 58.3333333333%; }

  .row .col.push-l7 {
    left: 58.3333333333%; }

  .row .col.pull-l8 {
    right: 66.6666666667%; }

  .row .col.push-l8 {
    left: 66.6666666667%; }

  .row .col.pull-l9 {
    right: 75%; }

  .row .col.push-l9 {
    left: 75%; }

  .row .col.pull-l10 {
    right: 83.3333333333%; }

  .row .col.push-l10 {
    left: 83.3333333333%; }

  .row .col.pull-l11 {
    right: 91.6666666667%; }

  .row .col.push-l11 {
    left: 91.6666666667%; }

  .row .col.pull-l12 {
    right: 100%; }

  .row .col.push-l12 {
    left: 100%; } }
@media (min-width: 0) {
  footer .row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; } }
@media (min-width: 626px) {
  footer .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; } }
@media (min-width: 1050px) {
  footer .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto; }

  footer .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto; } }
.modalvehicularfix {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none; }
  .modalvehicularfix .embed-container {
    background-color: white;
    position: relative;
    top: 30px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
  .modalvehicularfix .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media only screen and (min-width: 1050px) {
    .modalvehicularfix .container {
      width: 60%; }
    .modalvehicularfix .embed-container {
      top: 0;
      margin-top: 25%;
      transform: translateY(-25%); } }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-bottom:before {
  content: "\e914"; }

.icon-mail:before {
  content: "\e913"; }

.icon-twitter-redondo:before {
  content: "\e90c"; }

.icon-face-redondo:before {
  content: "\e910"; }

.icon-linkedin-redondo:before {
  content: "\e90d"; }

.icon-youtube-redondo:before {
  content: "\e911"; }

.icon-pregunta:before {
  content: "\e900";
  color: #4c4c4c; }

.icon-telefono:before {
  content: "\e901"; }

.icon-dude:before {
  content: "\e912";
  color: #4c4c4c; }

.icon-call:before {
  content: "\e90f"; }

.icon-close:before {
  content: "\e903"; }

.icon-menu-button:before {
  content: "\e902"; }

.icon-aceite:before {
  content: "\e904"; }

.icon-ambulancia:before {
  content: "\e905"; }

.icon-support:before {
  content: "\e906"; }

.icon-app:before {
  content: "\e907"; }

.icon-choque:before {
  content: "\e908"; }

.icon-car:before {
  content: "\e909"; }

.icon-check:before {
  content: "\e90a"; }

.icon-car2:before {
  content: "\e90b"; }

.icon-llave-inglesa:before {
  content: "\e90e"; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'sans-serif';
  outline: 0;
  box-shadow: none;
  color: #4c4c4c; }

section {
  padding: 60px 0; }

a {
  text-decoration: none;
  color: #4c4c4c; }

li {
  list-style: none; }

p {
  font-size: 15px;
  color: #4c4c4c;
  line-height: 20px; }

.center {
  text-align: center; }

.no-padding {
  padding: 0 !important; }

.opacity {
  opacity: 0;
  margin-top: 40px; }

.hide {
  display: none; }

.rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.owl-carousel .owl-stage {
  margin: auto; }

.title__principal {
  font-size: 20px;
  font-weight: 300;
  color: #4c4c4c;
  margin: 3px 0 40px 0; }
.title__subtext {
  font-size: 16px;
  margin: 2px 0;
  color: #4c4c4c; }

.btn-large {
  font-size: 15px;
  font-weight: 700;
  padding: 17px 28px;
  max-width: 240px;
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(163, 163, 163, 0.5);
  border-radius: 5px; }

.calltoaction__btn--green {
  color: #ffffff;
  background-color: #84bd00; }
  .calltoaction__btn--green:hover, .calltoaction__btn--green .btn-large:hover {
    background-color: #6b9900; }
.calltoaction__btn--white {
  background-color: #ffffff;
  border: 2px solid #d8d8d8;
  color: #84bd00;
  line-height: 38px !important; }
  .calltoaction__btn--white:hover, .calltoaction__btn--white .btn-large:hover {
    background-color: #84bd00;
    color: #ffffff; }

.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #6b9900; }

.clear {
  clear: both; }

.landing-content {
  width: 100%;
  min-height: 400px;
  padding-bottom: 0px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .landing-content h2.title {
    font-size: 24px;
    text-align: center;
    font-weight: 900;
    color: #4c4c4c;
    margin-top: 30px; }

.social {
  padding: 20px; }
  .social a {
    font-size: 35px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .social .icon-twitter-redondo:hover {
    color: #55acee; }
  .social .icon-face:hover {
    color: #4E5D9B; }
  .social .icon-linkedin-redondo:hover {
    color: #0077B5; }
  .social .icon-youtube-redondo:hover {
    color: #e62117; }

div.menu {
  width: 270px;
  position: fixed;
  right: -270px;
  z-index: 999999;
  top: 0px;
  height: 100%;
  background-color: white;
  padding: 20px 20px;
  box-shadow: 5px -4px 20px lightgrey;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  div.menu ul {
    width: auto; }
    div.menu ul li {
      display: block;
      border-bottom: 1px solid lightgray; }
      div.menu ul li a {
        font-size: 15px;
        font-weight: 300;
        color: #4c4c4c;
        display: block;
        height: 36px;
        line-height: 36px; }
        div.menu ul li a span {
          font-size: 8px;
          padding-left: 8px; }
        div.menu ul li a:hover {
          color: #fd3a36; }
          div.menu ul li a:hover span {
            color: #fd3a36; }
      div.menu ul li .active {
        color: #fd3a36; }
        div.menu ul li .active span.icon-chevron-bottom {
          color: #fd3a36;
          transform-origin: 9px 11px;
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      div.menu ul li ul {
        display: none; }
        div.menu ul li ul li {
          border-bottom: none;
          font-family: 'Lato';
          font-weight: 900;
          border-bottom: 1px solid #f3f3f3; }
        div.menu ul li ul .ultimo {
          border: 0px; }

.menuactivo {
  right: 0px !important;
  transition: all .3s ease-in-out; }

.menuactivo2 {
  left: -270px; }

@media only screen and (max-width: 425px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }
@media only screen and (min-width: 426px) {
  .hide-on-med-and-up {
    display: none !important; }

  .title__principal {
    font-size: 25px;
    margin: 3px 0 30px 0; } }
@media only screen and (max-width: 1049px) {
  .hide-on-med-and-down {
    display: none !important; } }
@media only screen and (min-width: 1050px) {
  .hide-on-large-only {
    display: none !important; } }
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .hide-on-med-only {
    display: none !important; } }
@media (min-width: 768px) {
  div.menu {
    display: block; } }
.menu-mobile {
  width: 100%;
  height: 60px;
  background-color: #fd3a36;
  position: fixed;
  display: block;
  z-index: 999; }
  .menu-mobile .header-menu-mobile {
    width: 100%;
    height: 100%; }
    .menu-mobile .header-menu-mobile nav.principal {
      max-width: 450px;
      display: flex;
      height: 100%;
      float: left;
      flex-direction: row;
      justify-content: start;
      align-items: center; }
      .menu-mobile .header-menu-mobile nav.principal ul li {
        display: inline-block;
        margin-right: 10px;
        color: white;
        font-size: 14px; }
        .menu-mobile .header-menu-mobile nav.principal ul li a {
          color: white;
          padding: 10px 12px;
          border: 1px solid white;
          border-radius: 8px;
          font-size: 14px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
          .menu-mobile .header-menu-mobile nav.principal ul li a:hover {
            background-color: white;
            color: #fd3a36; }
        .menu-mobile .header-menu-mobile nav.principal ul li .active {
          color: #fd3a36;
          background: white; }
    .menu-mobile .header-menu-mobile .rimac-mobile {
      width: 100px;
      height: 100%;
      background: url(../images/logo.png);
      background-size: 96%;
      margin-left: 11px;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-position: center;
      float: left; }
      @media only screen and (min-width: 700px) {
        .menu-mobile .header-menu-mobile .rimac-mobile {
          width: 120px; } }
    .menu-mobile .header-menu-mobile .sanguche {
      width: 60px;
      height: 100%;
      float: right;
      background-image: url(../images/menu.png);
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer; }
    .menu-mobile .header-menu-mobile .active {
      background-image: url(../images/cancel.png);
      background-size: 40%; }
  .menu-mobile .menu {
    width: 100%;
    min-height: 200px;
    background-color: white;
    display: none; }
    .menu-mobile .menu ul {
      width: 100%; }
      .menu-mobile .menu ul li {
        width: 100%;
        padding: 20px;
        text-align: center;
        height: 60px;
        list-style: none;
        display: block;
        border: 1px solid #b9b9b9; }
        .menu-mobile .menu ul li a {
          color: #4c4c4c; }

section#porqueVida .title__principal {
  font-size: 20px;
  font-weight: 300;
  color: #4c4c4c;
  margin-bottom: 0; }
  section#porqueVida .title__principal strong {
    font-weight: 500; }
  @media screen and (min-width: 600px) {
    section#porqueVida .title__principal {
      font-size: 25px; } }
section#porqueVida .title__text {
  font-size: 16px;
  margin: 20px 0 30px;
  line-height: 23px; }
  @media screen and (min-width: 600px) {
    section#porqueVida .title__text {
      font-size: 20px;
      line-height: 1.4;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-width: 1300px) {
    section#porqueVida .title__text {
      width: 75%; } }
  @media screen and (min-width: 1400px) and (max-width: 1450px) {
    section#porqueVida .title__text {
      width: 70%; } }
  @media screen and (min-width: 1451px) {
    section#porqueVida .title__text {
      width: 67%; } }
section#porqueVida .containerporque {
  min-height: 100px;
  max-width: 98%;
  margin: 10px auto; }
  @media only screen and (min-width: 1050px) {
    section#porqueVida .containerporque {
      min-height: 140px; } }
  section#porqueVida .containerporque .item {
    padding: 13px;
    background: #fbfbfb;
    border-radius: 2px;
    text-align: center;
    min-height: 205px; }
    section#porqueVida .containerporque .item:last-child {
      border-right: 0; }
    section#porqueVida .containerporque .item-image {
      width: 66px;
      margin: auto; }
    section#porqueVida .containerporque .item-title {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0; }
    section#porqueVida .containerporque .item-subtext {
      font-size: 15px;
      line-height: 1.33; }

.header-vehicular {
  background: url(../images/bg-hero-mobile.jpg);
  height: 600px;
  background-size: cover;
  background-position: bottom;
  background-color: #eeeef2;
  padding-top: 18px;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 768px) {
    .header-vehicular {
      background: url(../images/bg-hero.jpg) transparent;
      background-color: #eeeef2;
      background-size: cover;
      background-position: right; } }
  .header-vehicular .container-header-breadcrumbs {
    color: #4c4c4c;
    font-size: 12px;
    margin-top: 50px;
    font-weight: 300; }
  .header-vehicular .container-header-text {
    text-align: center; }
    @media screen and (min-width: 600px) {
      .header-vehicular .container-header-text {
        text-align: left; } }
    @media screen and (min-width: 1200px) and (max-width: 1210px) {
      .header-vehicular .container-header-text {
        width: 58.333333% !important; } }
    .header-vehicular .container-header-text .title__subtext {
      font-size: 30px;
      line-height: normal;
      padding-top: 0;
      font-weight: 700; }
    .header-vehicular .container-header-text h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
      color: #4c4c4c;
      margin: 10px 0;
      text-align: center; }
      @media screen and (min-width: 600px) {
        .header-vehicular .container-header-text h1 {
          text-align: left; } }
    .header-vehicular .container-header-text .calltoaction {
      display: block;
      margin: auto; }
      @media screen and (min-width: 920px) {
        .header-vehicular .container-header-text .calltoaction {
          display: inline-block; } }
    .header-vehicular .container-header-text .btn-primary {
      cursor: pointer;
      border-radius: 5px;
      color: #ffffff;
      background: #84bd00;
      text-align: center;
      padding: 15px;
      display: block;
      width: 220px;
      font-weight: bold;
      margin: auto;
      box-shadow: 0 17px 14px -16px rgba(153, 221, 0, 0.61); }
      .header-vehicular .container-header-text .btn-primary:hover {
        background-color: #6b9900; }
      @media screen and (min-width: 920px) {
        .header-vehicular .container-header-text .btn-primary {
          max-width: 300px;
          display: inline-block; } }
    .header-vehicular .container-header-text .btn-secondary {
      cursor: pointer;
      border-radius: 5px;
      color: #84bd00;
      background: white;
      text-align: center;
      margin: auto;
      margin-top: 10px;
      padding: 15px;
      display: block;
      width: 220px;
      font-weight: bold;
      box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5); }
      .header-vehicular .container-header-text .btn-secondary:hover {
        background-color: #fafafa; }
      .header-vehicular .container-header-text .btn-secondary span {
        margin-left: 10px;
        color: #84bd00; }
      @media screen and (min-width: 920px) {
        .header-vehicular .container-header-text .btn-secondary {
          display: inline-block;
          margin-left: 20px;
          margin-top: 0;
          width: 180px; } }
    .header-vehicular .container-header-text .title__promocion {
      font-size: 16px;
      line-height: normal;
      color: #4c4c4c;
      margin-bottom: 20px; }
  .header-vehicular .container-header-image {
    margin-top: 40px;
    text-align: center; }
  .header-vehicular .container-header img {
    width: 90%;
    height: auto; }

@media only screen and (min-width: 1050px) {
  .activo a {
    border-bottom: 3px solid #84bd00;
    padding-bottom: 15px; }

  .header-vehicular {
    padding-top: 60px; }
    .header-vehicular .container-header-breadcrumbs {
      font-size: 14px;
      margin-top: 60px; }
    .header-vehicular .container-header-text .title__subtext {
      font-size: 35px;
      padding-top: 30px; }
    .header-vehicular .container-header-text .title__promocion {
      font-size: 17px;
      margin-bottom: 40px; }
    .header-vehicular .container-header-text h1 {
      font-size: 35px;
      line-height: normal;
      text-align: left; }
    .header-vehicular .container-header-text a {
      max-width: 300px;
      margin: 0; }
    .header-vehicular .container-header-image {
      margin-top: 40px; } }
footer {
  background: #464646;
  padding: 2rem 0; }
  footer .container {
    width: 100%;
    max-width: initial; }
    footer .container > .row {
      margin: 0 5%; }
      footer .container > .row > .col {
        padding: 0 .7rem; }
  footer .row {
    margin: 0; }
  footer [class^="icon-"], footer [class*=" icon-"] {
    color: #ffffff; }
  footer ul {
    margin-bottom: 0; }
  footer .social-media {
    margin-top: 1.2rem; }
    footer .social-media li {
      display: inline; }
      footer .social-media li a {
        font-size: 1.8rem; }
  footer h6 {
    font-weight: 600;
    color: #ffffff;
    font-size: 1rem;
    line-height: 110%;
    margin: .5rem 0 .4rem 0; }
  footer a, footer i, footer span, footer p, footer strong {
    color: #fafafa;
    font-size: .8rem; }
  footer a:hover {
    color: #d8d8d8; }
  footer .c1 img {
    width: 156px; }
  footer .c2 {
    padding-left: .9rem;
    border-left: 0.4px solid #d8d8d8; }
  footer .c4 .phones {
    margin-left: 0px;
    border-top: 0.4px solid #d8d8d8;
    border-bottom: 0.4px solid #d8d8d8;
    padding: 10px 0; }
    footer .c4 .phones .icon {
      padding-left: 0;
      margin-top: 7px; }
      footer .c4 .phones .icon-telefono {
        font-size: 1.2rem; }
    footer .c4 .phones div:nth-child(2), footer .c4 .phones div:nth-child(3) {
      padding-right: 0; }
  footer .c4 .atention address {
    padding: 10px 0 10px 0; }
    footer .c4 .atention address .icon-email i {
      font-size: 1rem;
      font-weight: lighter; }
    footer .c4 .atention address p:nth-child(2) {
      padding-right: 0; }

@media only screen and (min-width: 500px) {
  footer .container > .row {
    margin: 0 3%; } }
@media only screen and (min-width: 1050px) {
  footer .container > .row {
    margin: 0 7%; } }
#secProductos {
  position: absolute;
  margin-top: -60px; }

#productos .productos-tab {
  width: 90%;
  margin: auto; }
  #productos .productos-tab ul {
    margin-bottom: 30px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; }
    #productos .productos-tab ul li {
      white-space: pre-line;
      cursor: pointer;
      display: inline-block;
      width: 60%;
      text-align: center;
      font-size: 13px;
      line-height: 17px;
      padding: 0 17px 15px;
      position: relative;
      transition: all .5s ease-in-out; }
      #productos .productos-tab ul li.active, #productos .productos-tab ul li:hover {
        color: #d0021b; }
      #productos .productos-tab ul li::after {
        content: '';
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        background: #979797;
        bottom: 0;
        transition: all .3s ease; }
      #productos .productos-tab ul li.active::after, #productos .productos-tab ul li:hover::after {
        background: #d0021b;
        height: 3px;
        border-radius: 3px; }
      @media only screen and (min-width: 600px) {
        #productos .productos-tab ul li {
          width: calc(99% / 3);
          padding: 0 10px 15px; } }
#productos .item {
  padding: 5px;
  margin: 0 10px 1rem;
  border-radius: 10px;
  background-color: #fbfbfb;
  box-shadow: 0 13px 34px -20px rgba(0, 0, 0, 0.4); }
  @media screen and (min-width: 1050px) {
    #productos .item {
      margin: 0 20px 1rem; } }
  #productos .item__head {
    min-height: 132px;
    padding: 30px 20px 10px;
    text-align: center;
    border-bottom: solid 1px #d3d3d3; }
    #productos .item__head--title {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px; }
    #productos .item__head--text {
      font-size: 13px;
      color: #848484;
      line-height: 1.31;
      margin-bottom: 10px; }
  #productos .item__body {
    min-height: 121px;
    padding: 10px 20px 5px; }
    #productos .item__body .title {
      font-size: 15px;
      margin: 3px 0; }
    #productos .item__body .cobertura ul li, #productos .item__body .servicios ul li {
      padding: 2px 0;
      text-indent: -24px;
      margin-left: 27px;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 10px; }
      #productos .item__body .cobertura ul li i, #productos .item__body .servicios ul li i {
        font-size: 9px; }
    #productos .item__body .cobertura .icon-check, #productos .item__body .servicios .icon-check {
      color: #84bd00; }
  #productos .item__footer {
    padding: 0 1.1rem 1rem 1.1rem; }
    #productos .item__footer .btn-large {
      padding: 14px;
      display: block;
      margin: 0 auto;
      box-sizing: content-box; }
    #productos .item__footer .calltoaction {
      margin-bottom: 20px; }
    #productos .item__footer .link-detalle {
      color: #84bd00;
      cursor: pointer;
      font-size: 13px; }
      #productos .item__footer .link-detalle:hover {
        color: #6e9d02; }
#productos .item-hide {
  display: none;
  margin-top: 50px;
  opacity: 0; }

#exclusiones .exclusion__item {
  background: #fbfbfb;
  min-height: 70px;
  padding: 28px 35px; }
  #exclusiones .exclusion__item p {
    font-weight: 300; }

#temasRelacionados {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.96);
  border-top: solid 1px #d4d4db; }
  #temasRelacionados .title__principal {
    cursor: pointer;
    margin: 0; }
  #temasRelacionados .title__arrow-down {
    position: relative;
    top: 6px;
    left: 5px;
    transition: all .3s; }
  #temasRelacionados .link-container {
    margin-top: 14px; }
  #temasRelacionados .links li {
    padding: 5px 0;
    text-indent: -23px;
    margin-left: 27px; }
    #temasRelacionados .links li a img {
      position: relative;
      top: 4px;
      margin-right: 2px;
      width: 18px; }
  #temasRelacionados .links a:hover {
    text-decoration: underline;
    color: #84bd00;
    font-weight: 600; }

#asesorar {
  background-image: -webkit-linear-gradient(right, #d0f2ff, #e6f8ff);
  background-image: -moz-linear-gradient(right, #d0f2ff, #e6f8ff);
  background-image: -o-linear-gradient(right, #d0f2ff, #e6f8ff);
  background-image: linear-gradient(to right, #d0f2ff, #e6f8ff); }
  #asesorar .title h2:nth-child(1) {
    font-weight: 500;
    margin: 3px 0; }

@media only screen and (min-width: 600px) {
  #exclusiones .exclusion__item {
    min-height: 122px;
    padding: 21px 12px; }

  #temasRelacionados .link-container {
    margin-top: 48px; } }

/*# sourceMappingURL=style.css.map */
