.bannerpromo{
    width: 100%;
    max-width: 1110px;
    height: 201px;
    margin: 0 auto;
    color: white;
    padding: 19px 19px;

    p{
        font-size: 17px;
        font-weight: 900;
    }
    h3{
        font-size: 23px;
        font-weight: 900;
        padding-top: 10px;

    }
    h2{
        font-weight: 300;
    font-size: 14px;
    max-width: 55%;
    padding: 10px 0px;

    }
    a{
        font-size: 13px;
        display: block;
        background: white;
        padding: 7px;
        border-radius: 3px;
        margin-top: 10px;
        max-width: 110px;
        color: #ec3d2f;
        span{
            font-weight: 900;
            text-decoration: underline;
        }
    }
}

@media only screen and (min-width:600px){

    .bannerpromo{
        width: 100%;
        max-width: 1110px;
        height: 301px;
        margin: 30px auto;
        color: white;
        padding-left: 136px;
        padding-top: 30px;
        border-radius: 10px;
        p{
            font-size: 16px;
            font-weight: 900;
            width: auto;
        }
        h3{
            font-size: 48px;
            font-weight: 900;
    
        }
        h2{
            font-weight: 300;
            font-size: 25px;
            padding: 10px 0px;
            max-width: 50%;
    
        }
        a{
            font-size: 17px;
            width: auto;
            max-width: 163px;
            float: left;
            border-radius: 5px;
            background: white;
            padding: 10px 20px;
            color: #eb3e2e;
            display: block;
            margin: 40px auto;
            margin-top: 20px;
            span{
                font-weight: 900;
                text-decoration: underline;
            }
        }
    }

}