%boxsizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  @import 'fonts';

*{ @extend %boxsizing;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    outline: 0;
    box-shadow: none;
}

a{ text-decoration: none; color: $grisOscuro;}

li{list-style:none;}

.clear{clear: both;}


  
 
  






  .icon-whatsapp:before {
    content: "\e917";
  }
  .icon-give-money:before {
    content: "\e916";
  }
  .icon-legal1:before {
    content: "\e910";
  }
  .icon-legal2:before {
    content: "\e911";
  }
  .icon-chevron-bottom:before {
    content: "\e909";
  }
  .icon-chevron-up:before {
    content: "\e90a";
  }
  .icon-chat:before {
    content: "\e906";
  }
  .icon-phone:before {
    content: "\e907";
  }
  .icon-mail:before {
    content: "\e908";
  }
  .icon-ambulance:before {
    content: "\e90c";
  }
  .icon-customer-service:before {
    content: "\e90b";
  }
  .icon-bag:before {
    content: "\e90d";
  }
  .icon-ticket:before {
    content: "\e90e";
  }
  .icon-ticket2:before {
    content: "\e904";
  }
  .icon-bag2:before {
    content: "\e905";
  }
  .icon-icon-vehicular:before {
    content: "\e900";
  }
  .icon-icon-jovenes:before {
    content: "\e902";
  }
  .icon-icon-soat:before {
    content: "\e903";
  }
  .icon-icon-viajes:before {
    content: "\e901";
  }
  .icon-icon-check:before {
    content: "\e90f";
  }
  .icon-twitter-redondo:before {
    content: "\e912";
  }
  .icon-face-redondo:before {
    content: "\e913";
  }
  .icon-linkedin-redondo:before {
    content: "\e914";
  }
  .icon-youtube-redondo:before {
    content: "\e915";
  }
#terminover{color: white;}
  .modal-terminos{    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: #000000b3;

  .cerrar-modalito{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    font-weight: 700;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    color:$rojo;
    font-size: 15px;padding-top: 3px;
    cursor: pointer;
  }
  .modalito{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    border: 0;
    max-width: 500px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;

    

    h2{
      font-size: 1.2rem;
      background-color: $rojo;
      padding: 10px;
      text-align: center;
      color: white;
    }
    p{
      font-size: 0.9rem;
      padding: 40px;
      color: gray;
      font-family: 'Lato';
      font-weight: 300;
    }
  }
  
  }