



.menu-viajes{
    background-color: white;
    width: 100%;
    max-width: 900px;
    display: none;
    height: 70px;
    margin: 0px auto;
    margin-top: 40px;
    -webkit-box-shadow: 0 2px 9px  rgba(0,0,0,0.1);
    box-shadow: 0 2px 9px rgba(0,0,0,0.1);
    ul{
        width: auto;
        padding: 2px 48px;
        display: flex;
    align-items: center;
    justify-content: center;
        li{
            display: inline-block;
            margin: 21px;
          

            a{
                font-size: 17px;
                font-weight: 700;
                color: $grisClaro;

                &:hover{
                    color:$grisOscuro;
                }
            }
        }

    }
}

@media (min-width: 768px) {

    .menu-viajes{display: block;}
    .menu-fix{
        position: fixed;
        top: 60px;
        height: 49px;
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        z-index: 999;
    }
    
  }

  


