
.testimoniales{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
    background: white;
    .container{  

        width: 95%;
        max-width: 967px;
        margin: 0 auto;
  

    h1.title{
        font-weight: 900;
            font-size: 26px;
            color:$grisOscuro;
            text-align: center;
            margin-bottom: 45px;

            @media only screen and (min-width:700px) {
                font-size: 36px;
            }
        }
    .container-testimonio{
        justify-content: center;
        margin-bottom: 30px;
        .slick-dots li.slick-active button:before{
            background-color:$rojo;
            color:$rojo;
        }
        .testimonio{

        width: 100%;
        min-height: 280px;
        max-width: 310px;
        padding: 32px;
        margin: 10px auto;
        border: 1px solid $grisClaro2;
        display: block;
        position: relative;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

   

        @media only screen and(min-width:700px){

            min-height: 321px;
            display: inline-block;
            max-width: 100%;



        }
        
        span{
            position: absolute;
            top: -28px;
            left: 28px;
            font-size: 86px;
            color: $grisClaro;
            font-weight: 900;
        }
    
        p{     font-size: 18px;
            color: $grisClaro;
            @media only screen and (min-width:700px){
                font-size: 20px;

            }
        }
        div.datos{
            display: block;
            margin-top: 20px;
            img{width: 88px;
                float: left;
                border: 1px solid $grisClaro2;
                border-radius: 50%;}
            div.datos-personales{
                float: left;
                padding-top: 22px;
                padding-left: 20px;
            
                h2{font-size: 18px; font-weight: 900;}
                p{font-size: 14px;}
            }
        }
        &:hover{
            box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.12);
            border-color:white;
            span{
                color:$verdeRimac;
            }
            h2{color:$verdeRimac;}
        }
    }
}
    
}  }


$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

    .container-testimonio{
        flex-direction: row!important;
    }
  
}