#viajes{
.tutorial-viajes{
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    margin-top: 40px;
    display: none;
.celulartutto{
    width: 100%;
    max-width: 372px;
    height: 100%;
    background: url(../images/celular.png);
    float: left;
    background-position: top;
    background-size: cover;
    overflow: hidden;

    .slidertuto{
        background-color: lightblue;
        max-width: 283px;
        border-radius: 30px 30px 0px 0px;
        margin: 43px;
        margin-top: 46px;
        margin-bottom: 0px;
        margin-left: 42px;
        height: 100%;
    }
}
.navegacion{
    max-width: 500px;
    float: left;
    margin-left: 70px;
    .subtitle{opacity:1!important;}
        h1{
            font-weight: 900;
            font-size: 45px;
            color:$grisOscuro;
            margin-bottom: 10px;

        }
        p{
            font-weight: 700;
            color:$grisClaro;
            opacity: 0.5;
        }
        .slide-tuto{
            margin-top: 20px;
            margin-bottom: 40px;
            a{  background-color: $verdeRimac;
                color: white;
                border: 1px solid $verdeRimac;
                padding: 14px 20px;
                width: 255px;
                display: inline-block;
                text-align: center;
                border-radius:5px;}
            .pasos{padding-bottom: 10px;
                height: 62px;
                margin-top: 10px;

                          
           span{
            background-color: $grisClaro;
            color: white;
            float: left;
            max-width: 42px;
            width: 20%;
            width: 42px;
            height: 42px;
            text-align: center;
            border-radius: 50%;
            padding-top: 9px;
            opacity: 0.5;
            }

                &.active{
                    span{

                        background-color: $rojo;

                    }
                    p{
                        opacity: 1;
                    b.titulo{
                        color:$rojo;
                    }
                }
                span{
                    opacity: 1;}
                }
  
            p{  float: left;
                font-size: 14px;
                font-weight: 400;
                padding-left: 17px;
                width: 80%;
                b.titulo{
                    text-align: left;
                    width: 100px;
                    display: block;
                    font-weight: 900;
                    color: $grisClaro;
                }
            }
        }
        }
}

   
}

@media only screen and (min-width:768px){

    .tutorial-viajes{ display: block;}
}

}